/**
 * Reset some basic elements
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

/**
 * Images
 */
/*img {
 *    max-width: 100%;
 *    vertical-align: middle;
 * }
*/
/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 15.75px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none; }
  a:visited {
    color: #1756a9; }
  a:hover {
    color: #111;
    text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: scroll; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

/**
 * Clearfix
 */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

/**
 * Site header
 */
#logo-col img {
  margin-bottom: 15px; }

#logo-col h1 {
  padding: 0;
  margin: 0; }

#logo-col a {
  display: block;
  height: 46px; }

#logo-col a span {
  display: none; }

/* Splash gradient background */
#splash, .title {
  background: #3c6db3 !important;
  background: -moz-linear-gradient(90deg, #3c6db3 18%, #325691 99%);
  background: -webkit-linear-gradient(90deg, #3c6db3 18%, #325691 99%);
  background: -o-linear-gradient(90deg, #3c6db3 18%, #325691 99%);
  background: -ms-linear-gradient(90deg, #3c6db3 18%, #325691 99%);
  background: linear-gradient(180deg, #3c6db3 18%, #325691 99%);
  background-image: url("/static/img/titles/title_front.png") !important;
  background-size: cover !important;
  /* this is esentially h2 for the tile page, h1 otherwise */ }
  #splash h1, #splash h2, .title h1, .title h2 {
    font-family: "Open Sans Semibold";
    text-shadow: 0px 3px 1px #253a66;
    color: white;
    font-size: 30px; }
  #splash p, .title p {
    color: white; }

.title#start {
  background-image: url("/static/img/titles/title_start.png") !important; }

.title#tools {
  background-image: url("/static/img/titles/title_tools.png") !important; }

.title#tech {
  background-image: url("/static/img/titles/title_tech.png") !important; }

.title#deploy {
  background-image: url("/static/img/titles/title_deploy.png") !important;
  background-position: right 20% !important; }

.title {
  height: 180px;
  margin-bottom: 30px; }
  .title #page-title {
    padding-top: 20px; }
  .title img.img-circle {
    background-color: white;
    padding: 6px;
    width: 100px;
    margin-top: 30px;
    margin-right: 20px;
    float: left; }
  .title h1 {
    margin-top: 60px; }

@media all and (min-width: 768px) {
  .title #page-description p {
    font-size: 14pt !important;
    height: 115px;
    display: table-cell !important;
    vertical-align: middle !important;
    padding-top: 35px; } }
@media all and (max-width: 767px) {
  .title img.img-circle {
    padding: 3px;
    width: 50px; }
  .title h1 {
    margin-top: 40px;
    font-size: 1.8em; }
  .title #page-description p {
    font-size: 1em !important;
    height: 70px;
    display: table-cell !important;
    padding-top: 15px; } }
#splash, .title, #header {
  margin-left: 0px !important;
  margin-right: 0px !important;
  width: 100% !important; }

#splash {
  min-height: 370px; }

/***
 * Site search
 */
.entries {
  position: absolute;
  top: 44px;
  right: 15px;
  background: white;
  color: black;
  border: 1px solid #e8e8e8;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: 0;
  padding: 5px;
  z-index: 10;
  width: 288px; }

.entries p {
  padding: 0;
  margin: 0; }

/***
 * Site nav
 */
#top {
  padding-top: 20px; }

#logo-col img {
  float: left; }

#splash nav a, #splash {
  color: white; }

#splash nav a {
  font-size: 1.2em; }

#splash nav a:hover {
  text-decoration: underline;
  background-color: transparent !important; }

body .nav li.active a,
body .nav li a:hover {
  background: none;
  text-decoration: underline; }

.btn.glyphicon {
  margin-top: -2px !important; }

#search {
  margin-top: 10px !important; }

#headline-search {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 22px; }

#headlines > div {
  margin-left: auto;
  margin-right: auto; }

#headlines {
  font-size: 1.5em;
  text-align: center;
  padding: 50px 100px; }

#attribution {
  padding-top: 40px; }
  #attribution a {
    color: white;
    font-size: .9em; }

#attribution {
  opacity: .3; }

.site-header {
  border-top: 5px solid #424242;
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  position: relative; }

.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left; }
  .site-title, .site-title:visited {
    color: #424242; }

.site-nav {
  float: right;
  line-height: 56px; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #111;
    line-height: 1.5; }
    .site-nav .page-link:not(:first-child) {
      margin-left: 20px; }
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 30px;
      background-color: #fdfdfd;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      text-align: right; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          width: 18px;
          height: 15px; }
          .site-nav .menu-icon > svg path {
            fill: #424242; }
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px; } }

/**
 * Site footer
 */
footer {
  margin-top: 80px; }

.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0; }

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px; }

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2)); }

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2)); }

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2)); }

  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
.footer {
  background-color: #e6e6e6;
  color: #777;
  font-size: 13px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 30px;
  font-family: "Open sans"; }
  .footer .widget-title {
    color: #8d8d8d;
    font-size: 17px;
    font-weight: bold;
    margin: 0 0 20px 0;
    text-transform: uppercase; }
  .footer .widget-body {
    color: #777;
    font-size: 13px; }
  .footer dd {
    line-height: 1.6;
    margin-left: 0; }
  .footer a {
    color: #000 !important; }

/**
 * Page content
 */
.page-content {
  padding: 30px 0; }

.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 15.75px;
  color: #828282; }

.post-link {
  display: block;
  font-size: 24px; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }

.post-content {
  margin-bottom: 30px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }

h3 {
  margin-top: 1.2em;
  margin-bottom: 1.6em; }

h3 a, h3 a:visited {
  color: #3c6eb4;
  font-weight: semibold; }

#front-nav {
  margin-top: 4em; }

.headlines {
  width: 100% !important;
  margin-left: 0;
  margin-right: 0; }
  .headlines .headlines-body {
    padding: 32px 5px 44px 5px; }
  .headlines img {
    padding-top: 14px; }

.headlines#devassistant {
  background-image: url("/static/img/noisy_grid.png") !important;
  background-repeat: repeat; }
  .headlines#devassistant p, .headlines#devassistant h2 {
    text-align: left; }

.container + .container {
  padding-bottom: 2em; }

#blog-headlines {
  background-image: url("/static/img/footer_lodyas.png") !important;
  background-repeat: repeat;
  color: white;
  width: 100% !important;
  padding: 22px 0;
  padding-bottom: 80px !important;
  margin-bottom: -80px; }

#blog-features h2 span,
#blog-headlines h2 span {
  background-color: #3c6eb4 !important;
  padding: 0px 5px 2px;
  text-transform: uppercase;
  font-size: 45%;
  color: white;
  padding-bottom: 0px; }
#blog-features h2,
#blog-headlines h2 {
  font-size: 2.2em !important;
  padding-bottom: 0px; }
#blog-features h3,
#blog-headlines h3 {
  font-face: "Open Sans" !important;
  font-weight: 600 !important;
  font-size: 150%; }
#blog-features p,
#blog-headlines p {
  color: #a5a8aa; }
#blog-features p.byline,
#blog-headlines p.byline {
  color: #6f7276; }

#blog-features p {
  color: #6f7276; }
#blog-features p.byline {
  color: #60605b;
  font-size: 14pt;
  margin-top: -8px; }
#blog-features p.date {
  font-style: italic;
  color: #a5a8aa;
  margin-top: -8px; }

h2 {
  font-size: 1.5em !important;
  font-weight: 700;
  color: #888;
  padding-bottom: 14px; }

.panel {
  min-height: 165px; }
  .panel h3 {
    font-size: 1.4em !important;
    font-weight: normal !important;
    color: #337ab7;
    display: table-cell !important;
    padding-top: 8px;
    padding-left: 8px;
    padding-bottom: 10px; }
  .panel p {
    color: #888;
    margin-left: 10px; }
  .panel p:hover {
    text-decoration: none; }

.panel-link:hover {
  text-decoration: none !important; }
  .panel-link:hover h3 {
    text-decoration: underline; }
  .panel-link:hover .panel-default {
    border-top-color: #337ab7;
    border-right-color: #337ab7;
    border-bottom-color: #337ab7;
    border-left-color: #337ab7; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

@media all and (max-width: 1100px) {
  nav .nav {
    clear: both;
    padding-left: 10px; }
    nav .nav li {
      float: left; }

  #search {
    margin-bottom: 20px; }

  .entries {
    width: calc(100% - 30px);
    right: none;
    left: 15px; } }
@media all and (max-width: 768px) {
  .entries {
    top: 34px; }

  .carousel .headlines img {
    width: 250px; } }
@media all and (min-width: 781px) {
  .carousel .headlines {
    min-height: 290px; } }
@media all and (min-width: 1100px) {
  #search {
    position: absolute;
    top: 0px;
    right: 15px;
    z-index: 10;
    width: 288px; }

  .carousel .headlines {
    min-height: 240px; } }
@media all and (max-width: 780px) {
  body .row {
    margin-left: 0;
    margin-right: 0; }

  #headlines {
    text-align: center;
    padding: 10px; }

  #headline-search {
    width: 100%; }

  .headlines {
    min-height: 440px; }

  .headlines h2, .headlines p {
    margin-left: 50px; } }
